<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LG Innotek</title>

    <link rel="stylesheet" href="../resources/css/common/common.css">
    <link rel="stylesheet" href="../resources/css/modal.css">
    <link rel="stylesheet" href="../resources/css/common/responsive.css">
    <link rel="stylesheet" href="../resources/css/notice.css">

    <script src="../resources/js/library/jquery-3.7.1.min.js"></script>
    <script src="../resources/js/common/common.js"></script>
    <script src="../resources/js/common/modal.js"></script>
</head>
<body>
    <div class="container">
        <header id="header"></header>
        <section class="main">
            <div class="contents-wrap detail">		
                <div class="contents-header">
                    <div class="title-wrap selected">
                        <h3 class="title-style">
                            공지
                        </h3>
                    </div>
                </div>	
                
                <div class="listMenu"> 
                    <div class="noticelist-selected">
                        <div class="selected-title">
                            <h4>
                                제목
                            </h4>
                            <p>공지사항_00</p>
                        </div>
                        <div class="selected-contents">
                            공지사항_00
                        </div>
                    </div>
                </div><!-- listMenu -->	
                
                <div class="btnGroup">
                    <button type="button" class="common-button-style-red list-button" onclick="location.href='notices.html'">
                        목록
                    </button>
                </div>
            </div>
        </section>
        <footer id="footer"></footer>
    </div>

    <div class="modal-position-style-wrap" id="modal-area"></div>
</body>
</html>